<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="/static/css/blogs.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header class="nav">
        <a class="home" onclick="home()"><strong>Home</strong></a>
        <a class="projects" onclick="projects()"><strong>Projects</strong></a>
        <a class="contributions" onclick="contributions()"><strong>Contributions</strong></a>
        <a class="talks" onclick="talks()"><strong>Talks</strong></a>
        <a class="blogs" onclick="blogs()"><strong>Blogs</strong></a>
        <a class="contact" onclick="contact()"><strong>Contact</strong></a>
    </header>

    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/js/blogs.js"></script>
    <script src="/static/js/index.js"></script>


</body>
</html>