<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="/static/css/contact.css">
</head>
<body>
    <header class="nav">
        <a class="home" onclick="home()"><strong>Home</strong></a>
        <a class="projects" onclick="projects()"><strong>Projects</strong></a>
        <a class="contributions" onclick="contributions()"><strong>Contributions</strong></a>
        <a class="talks" onclick="talks()"><strong>Talks</strong></a>
        <a class="blogs" onclick="blogs()"><strong>Blogs</strong></a>
        <a class="contact" onclick="contact()"><strong>Contact</strong></a>
    </header>

    <p>If you’d like to get in touch with me about any opportunities aligning with my experience and skillset,
        or any conference, meetups, teaching related collaboration,
        feel free to email me at <strong>mridubhatnagar4@gmail.com</strong>.</p>

    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/js/contact.js"></script>
    <script src="/static/js/index.js"></script>

</body>
</html>