<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mridu Bhatnagar</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
    <header class="nav">
        <a class="home" onclick="home()"><strong>Home</strong></a>
        <a class="projects" onclick="projects()"><strong>Projects</strong></a>
        <a class="contributions" onclick="contributions()"><strong>Contributions</strong></a>
        <a class="talks" onclick="talks()"><strong>Talks</strong></a>
        <a class="blogs" onclick="blogs()"><strong>Blogs</strong></a>
        <a class="contact" onclick="contact()"><strong>Contact</strong></a>
    </header>

    <h1>Mridu Bhatnagar</h1>
    <section>
        <h3><strong>Hello,</strong></h3>
        <p id="description">
            I'm Mridu Bhatnagar. I enjoy converting ideas into working applications. I primarily
            write code(solve problems) using <strong>Python</strong>.
            I love speaking at various community meetups, colleges and conferences about <strong>Python</strong>.
        </p>

        <p id="skills">
            <ul>
                <li><strong>Languages</strong> - Python</li>
                <li><strong>Web Frameworks</strong> - Flask, Django</li>
                <li><strong>Data Pipelines</strong> - Apache Airflow</li>
                <li><strong>Databases</strong> - MySQL, Postgresql, Redshift</li>
            </ul>
        </p>
    </section>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/js/index.js"></script>
</body>
</html>