<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Talks</title>
    <link rel="stylesheet" type="text/css" href="/static/css/talks.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header class="nav">
        <a class="home" onclick="home()"><strong>Home</strong></a>
        <a class="projects" onclick="projects()"><strong>Projects</strong></a>
        <a class="contributions" onclick="contributions()"><strong>Contributions</strong></a>
        <a class="talks" onclick="talks()"><strong>Talks</strong></a>
        <a class="blogs" onclick="blogs()"><strong>Blogs</strong></a>
        <a class="contact" onclick="contact()"><strong>Contact</strong></a>
    </header>

    <div id="talks">
        <h3 ><strong>2020</strong></h3>
        <ul>
            <li>13th April, 2020: India Linux User Group-Delhi, GIT-101, <a href="https://www.youtube.com/watch?v=jFjngXh7yew" target="_blank">(Video)</a></li>
            <li>15th April, 2020: Pyladies Berlin, Objects, <a href="https://www.youtube.com/watch?v=bO4qyBufcfQ" target="_blank">(Video, last 30 minutes is my talk)</a></li>
            <li>25th April, 2020: Remote Python Pizza Conference, Memory address(Video-Will update, Once live.)</li>
            <li>28th May, 2020: Python User Group San Diego, Deep copy and shallow copy in Lists.<a href="https://www.youtube.com/watch?v=5TMoywv5eKQ" target="_blank">(Video)</a></li>
            <li>July Upcoming: EuroPython 2020</li>
        </ul>
    </div>

    <div id="note">
        <h3>NOTE</h3>
        <p>Only the talks that were recorded are listed here. Overall in-person talks and online talks are much more.
            For details reach out at <strong>mridubhatnagar4@gmail.com</strong> :).</p>
    </div>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/js/index.js"></script>
</body>
</html>